#pending-orphanages {
  display: flex;

  height: 100%;
}

#pending-orphanages aside {
  width: 100px;
}

#pending-orphanages main {
  margin-left: 100px;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#pending-orphanages .header {
  display: flex;
  justify-content: space-between;

  width: 80%;

  margin: 60px 100px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d3e2e5;
}

#pending-orphanages .header h1 {
  color: #4d6f80;
}

#pending-orphanages main .orphanages {
  width: 80%;

  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;

  margin-bottom: 50px;
}
