#update-password-page {
  width: 100vw;
  height: 100vh;

  background-color: #fff;
  display: flex;
}
#update-password-page main {
  flex: 2.4;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
}
#update-password-page main #main-container {
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: center;
}
#update-password-page main #main-container h1 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 34px;

  color: #5c8599;

  margin-bottom: 30px;
}
#update-password-page main #main-container span {
  color: #5c8599;
  margin-bottom: 20px;
}
#update-password-page main #main-container button {
  margin-top: 20px;

  padding: 20px 20px;
  background: #37c77f;
  border: none;
  color: #fff;
  border-radius: 18px;

  opacity: 0.6;
  cursor: pointer;
}

#update-password-page main #main-container .button-active {
  opacity: 1;
}
